body {
    background-image: linear-gradient(#fc5e55, #fa4083)
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    background-color: rgb(47, 198, 33);
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: rgb(227, 58, 137);
    min-height: 300px;
    width: 30%;
}

.card2 {
    background-color: rgb(227, 124, 137);
    min-height: 300px;
    width: 30%;
}

.card3 {
    background-color: rgb(227, 22, 137);
    min-height: 300px;
    width: 30%;
}

.herobox1 {
    /* background-color: cadetblue; */
    flex: 2;
}

.herobox2 {
    /* background-color: blueviolet; */
    flex: 1;
}