body {
    background-image: linear-gradient(#fc5e55, #fa4083);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card2 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.card3 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    /* background-color: blueviolet; */
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1.5rem;
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;


}

.cards i {
    font-size: 100px;
}

.card1,
.card2,
.card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}
.mybutton{
    text-decoration: none;
    background-color: white;
    color: #fa4083;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
}